
a {
	color: #679c5b;
}

body {
	font-family: "Open Sans",Helvetica,Arial,sans-serif
}

@media screen and (max-width: 1100px) {
  .wy-nav-content-wrap {
    margin-left: 0;
  }

  .wy-nav-side {
    left: -300px;
  }

  .wy-nav-side.shift {
    left: 0px;
    width: 300px;
    background: unset;
  }

  .wy-nav-content-wrap.shift {
    position: fixed;
    min-width: 100%;
    left: 300px;
    top: 0;
    height: 100%;
    overflow: hidden;
  }

  .wy-menu.wy-menu-vertical, .wy-side-nav-search, .wy-side-scroll {
    width: 300px;
  }

  .wy-nav-top {
    display: block;
    background: #c9c9c9;
  }

  [data-toggle="wy-nav-top"] {
    color: #404040;
  }

  nav.wy-nav-top a {
    color: #404040;
    font-family: Roboto Slab,ff-tisa-web-pro,Georgia,Arial,sans-serif;
    font-size: 200%;
  }
}

@media screen and (min-width: 1100px) {
  .wy-grid-for-nav nav {
    background: white;
  }
}

/* Distinguishing images from text content  */
.rst-content img.with-border {
        border-color: lightgrey;
        border-width: 2px;
        border-style: solid;
    }

/* Details expand-collaps boxes */
summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: 100%;
  font-size: 15px;
  background: lightgrey;
  padding: 3px 2px 0 5px;
}
.wy-nav-content a {
  color: #666 !important;
}

summary::after {
  content: '';
  width: 18px;
  height: 10px;
  background: url('arrow_down.svg') no-repeat;
  background-size: 14px;
  margin-left: .75em;
  transition: 0.2s;
}

details[open] > summary::after {
  transform: rotate(180deg);
  position: relative;
  bottom: 2px;
  right: 4px;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  border-radius: 0px;
}

details[open] summary {
  border-radius: 0px 0px 0 0;
}

details {
  border-radius: 0px;
  border: 1px solid #666;
  margin-bottom: 10px;
}


    /* Coloring */    
    .rst-content .note .admonition-title, 
    .rst-content .note .wy-alert-title, 
    .rst-content .seealso .admonition-title,
    .rst-content .seealso .wy-alert-title, 
    .rst-content .tip .admonition-title,
    .rst-content .wy-alert-info.admonition-todo .admonition-title, 
    .rst-content .wy-alert-info.admonition-todo .wy-alert-title, 
    .rst-content .wy-alert-info.admonition .admonition-title, 
    .rst-content .wy-alert-info.admonition .wy-alert-title, 
    .rst-content .wy-alert-info.hint .admonition-title, 
    .rst-content .wy-alert-info.hint .wy-alert-title, 
    .rst-content .wy-alert-info.tip .admonition-title, 
    .rst-content .wy-alert-info.tip .wy-alert-title,
    .wy-alert.wy-alert-info .rst-content .admonition-title {
        background-color: #39641c;
    }
    
    .rst-content .wy-alert-info.attention .admonition-title,
    .rst-content .wy-alert-info.attention .wy-alert-title,
    .rst-content .wy-alert-info.caution .admonition-title,
    .rst-content .wy-alert-info.caution .wy-alert-title, 
    .rst-content .wy-alert-info.danger .admonition-title, 
    .rst-content .wy-alert-info.danger .wy-alert-title,
    .rst-content .wy-alert-info.error .admonition-title,
    .rst-content .wy-alert-info.error .wy-alert-title,
    .rst-content .important .admonition-title,
    .rst-content .wy-alert-info.important .admonition-title, 
    .rst-content .wy-alert-info.important .wy-alert-title, 
    .rst-content .wy-alert-info.warning .admonition-title,
    .rst-content .wy-alert-info.warning .wy-alert-title,
    .rst-content .wy-alert.wy-alert-info .admonition-title, 
    .wy-alert.wy-alert-info .wy-alert-title {
	background-color: #901A1E;
    }
    
    .rst-content .note, .rst-content .seealso, 
    .rst-content .wy-alert-info.admonition, 
    .rst-content .wy-alert-info.admonition-todo,
    .rst-content .wy-alert-info.attention, 
    .rst-content .important, 
    .rst-content .wy-alert-info.tip, 
    .rst-content .wy-alert-info.hint, 
    .wy-alert.wy-alert-info, 
    .rst-content .tip {
	background: #fff;
	border: 1px solid #39641c; 
    }
    
    .rst-content .wy-alert-info.caution, 
    .rst-content .wy-alert-info.danger, 
    .rst-content .wy-alert-info.error, 
    .rst-content .wy-alert-info.important, 
    .rst-content .wy-alert-info.warning {
	background: #fff;
	border: 1px solid #901A1E;
    }
    
/* Left section and menu */
    .wy-menu-vertical header, .wy-menu-vertical p.caption {
	color: #000;
   	font-size: 95%;
    }

    .wy-nav-content-wrap {
	background: none;
    }

    .wy-body-for-nav {
	background: rgba(0, 0, 0, 0.05);
    }

    .wy-body-for-nav a {
        color: #000;
    }
     
    .wy-nav-content a {
	color: #2c6694;
    }
     
    .wy-menu-vertical li.current > a, .wy-menu-vertical li.on a {
	background: lightgrey
    }
     
    .wy-menu-vertical a:hover {
	background-color:lightgray;
	cursor:pointer
    }
     
    .wy-side-nav-search {
	background: white;
    }
     
    .wy-side-nav-search input[type="text"] {
	border-color: #901A1E;
    }
    
    /* Ordered & unordered lists theme default 24px */
    .rst-content .section ol, .rst-content .section ol.arabic, .rst-content .toctree-wrapper ol, 
    .rst-content .toctree-wrapper ol.arabic, .rst-content section ol, .rst-content section ol.arabic, 
    .wy-plain-list-decimal, article ol, .rst-content .section ul, .rst-content .toctree-wrapper ul,
    .rst-content section ul, .wy-plain-list-disc, article ul
     {
          margin-bottom: 4px;
     }
